@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF_IceLemon';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_IceLemon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MaplestoryOTFLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'MaplestoryOTFLight';
    touch-action: manipulation;
}

.custom-canvas {
    display: block;
}

.custom-button {
    -webkit-font-smoothing: antialiased;    /* 부드러운 글꼴 */
    position: absolute; 
    font-size: 1.5em; 
    color: white;
    left: 50%;
    width: 50%;
    padding: 7px 20px;
    border-radius: 10px; 
    border: 5px solid transparent;
    text-shadow: -1px -1px 1px rgba(0,0,0,0.8);
    border-bottom-color: rgba(0,0,0,0.35);
    background: hsla(260, 100%, 50%, 1);
    outline: 0 !important;
    transform: translate(-50%, 0);
    transition: background 0.4s, border 0.2s, margin 0.2s; }

    .custom-button:hover {
		background: hsla(220, 100%, 60%, 1);
		margin-top: -1px;

		-webkit-animation: none;

		        animation: none;
	}
	.custom-button:active {
		border-bottom-width: 0;
		margin-top: 5px;
	}
