* {
    margin: 0;
}

html, body {
    height: 100%;
}

/* https://d2.naver.com/helloworld/8540176 */
.container {
    display: flex;
    width: 100%;
    height: 100%; }

    .container .title {
        display: flex;
        flex: none;
        flex-basis: 25%;
        background-color: #1e3b79;
        box-sizing: border-box;}

    .container > .message-container {
        display: flex;
        flex: none;
        flex-basis: 75%;
        background-color: #f2f8ff;
        flex-wrap: wrap; }

        .container > .message-container > .item {
            display: flex;
            flex-direction: column;
            flex-basis: 33.3%;
            box-sizing: border-box; }

        .container > .message-container > .message {
            
            background-color: white; }
